.gallery {
    height: 1536px;
    width: 100%;
    background-color: $background-color-gallery;
    .gallery-text {
        padding-top: 100px;
        max-width: 580px;
        width: 90%;
        margin: 0 auto;
        text-align: center;

        h1 {
            @include header($text-color-dark);
            margin-bottom: 40px;
        }

        p {
            font-size: 17px;
            font-weight: 300;
            line-height: 27px;
        }
    }

    .gallery-images {
        max-width: 1500 - 165*2px;
        width: 90%;
        margin: 43px auto 30px auto;
        display: grid;
        grid-template-rows: 260px 260px 400px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;

        .gallery-img1 {
            grid-column: 1 / span 4;
            grid-row: 1 / span 2;
        }

        .gallery-img2,
        .gallery-img3 {
            grid-column: 5 / span 2;
        }

        .gallery-img4 {
            grid-column: 1 / span 3;
        }

        .gallery-img5 {
            grid-column: 4 / span 3;
        }
    }


    @for $i from 1 through 5 {
        .gallery-img#{$i} {
            background-image: url(../img/img#{$i}.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

            a {
                @extend %link-in-box;
            }
        }
    }

    .more-button {
        margin: 50px auto 0 auto;
        @include more-button($more-button-gallery-color);
    }
    
}