body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

html {
    height: 100%;
}

header .header-content .header-text .more-button a, .services .services-container .services-list ul li a, .gallery .gallery-img1 a, .gallery .gallery-img2 a, .gallery .gallery-img3 a, .gallery .gallery-img4 a, .gallery .gallery-img5 a, .gallery .more-button a, .subscribe .subscribe-content form button a, .blog .more-button a {
    display: block;
    height: 100%;
    text-decoration: none;
}

header {
    width: 100%;
    height: 1000px;
    background-color: #f9f8fb;
    position: relative;
    background-image: url("../img/background-header.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

header .header-content {
    max-width: 1172px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header .header-content nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 60px;
}

header .header-content nav a {
    text-decoration: none;
    color: #262626;
}

header .header-content nav #main-logo {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 5px;
}

header .header-content nav #nav-trigger {
    display: none;
}

header .header-content nav label {
    display: none;
    width: 42px;
    height: 42px;
    background: url("../img/menu.svg");
    background-position: center;
    background-size: cover;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
}

header .header-content nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 557px;
}

header .header-content nav ul li {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    padding-top: 5px;
    border-top: 3px #f9f8fb solid;
}

header .header-content nav ul li:hover {
    border-top: 3px #ff6033 solid;
}

header .header-content .header-text {
    max-width: 370px;
    width: 100%;
    padding-top: 370px;
}

header .header-content .header-text h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: .75;
    margin-bottom: 38px;
}

header .header-content .header-text p {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 30px;
}

header .header-content .header-text .more-button {
    width: 200px;
    height: 55px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
}

header .header-content .header-text .more-button a {
    color: #fff;
}

header .header-content .scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 290px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.about-us {
    width: 100%;
    height: 700px;
    background-color: #00b0b0;
}

.about-us .about-us-container {
    max-width: 1166px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about-us .about-us-container .about-us-photo {
    background-image: url("../img/about-us-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 50%;
    height: 566px;
    margin-top: 70px;
}

.about-us .about-us-container .about-us-content {
    padding-top: 180px;
    max-width: 500px;
    width: 50%;
}

.about-us .about-us-container .about-us-content h1 {
    color: #ffffff;
    font-size: 5.625rem;
    font-weight: 700;
    line-height: .75;
    margin-bottom: 27px;
}

.about-us .about-us-container .about-us-content p {
    color: #ffffff;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 10px;
}

.services {
    width: 100%;
    height: 790px;
    background-color: #70bfff;
    position: relative;
}

.services .services-container {
    max-width: 1170px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services .services-container .services-list {
    width: 50%;
}

.services .services-container .services-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 100px;
}

.services .services-container .services-list ul li {
    width: 83%;
    height: 100px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

.services .services-container .services-list ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid #9d9d9d;
}

.services .services-container .services-list ul li a {
    color: #262626;
}

.services .services-container .services-list ul li:nth-of-type(1) {
    background-image: url("../img/icon-shopping.svg");
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

.services .services-container .services-list ul li:nth-of-type(2) {
    background-image: url("../img/icon-product.png");
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

.services .services-container .services-list ul li:nth-of-type(3) {
    background-image: url("../img/icon-delivery.png");
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

.services .services-container .services-list ul li:nth-of-type(4) {
    background-image: url("../img/icon-organized.png");
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

.services .services-container .services-header {
    width: 50%;
    background-image: url("../img/services-bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.services .services-container .services-header h1 {
    color: #ffffff;
    font-size: 5.625rem;
    font-weight: 700;
    line-height: .75;
    margin-top: 330px;
    margin-left: 40px;
}

.gallery {
    height: 1536px;
    width: 100%;
    background-color: #ffe92f;
}

.gallery .gallery-text {
    padding-top: 100px;
    max-width: 580px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.gallery .gallery-text h1 {
    color: #262626;
    font-size: 5.625rem;
    font-weight: 700;
    line-height: .75;
    margin-bottom: 40px;
}

.gallery .gallery-text p {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.gallery .gallery-images {
    max-width: 1170px;
    width: 90%;
    margin: 43px auto 30px auto;
    display: grid;
    grid-template-rows: 260px 260px 400px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}

.gallery .gallery-images .gallery-img1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.gallery .gallery-images .gallery-img2,
    .gallery .gallery-images .gallery-img3 {
    grid-column: 5 / span 2;
}

.gallery .gallery-images .gallery-img4 {
    grid-column: 1 / span 3;
}

.gallery .gallery-images .gallery-img5 {
    grid-column: 4 / span 3;
}

.gallery .gallery-img1 {
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery .gallery-img2 {
    background-image: url(../img/img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery .gallery-img3 {
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery .gallery-img4 {
    background-image: url(../img/img4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery .gallery-img5 {
    background-image: url(../img/img5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gallery .more-button {
    margin: 50px auto 0 auto;
    width: 200px;
    height: 55px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
}

.gallery .more-button a {
    color: #fff;
}

.subscribe {
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    background-image: url("../img/subscribe-bg.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.subscribe .subscribe-content {
    max-width: 1172px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.subscribe .subscribe-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 145px;
    padding-bottom: 30px;
}

.subscribe .subscribe-content p {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    max-width: 550px;
    padding-bottom: 23px;
    text-shadow: white 1px 1px 0, white -1px -1px 0,  white -1px 1px 0, white 1px -1px 0;
}

.subscribe .subscribe-content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.subscribe .subscribe-content form input {
    max-width: 570px;
    width: 100%;
    height: 55px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #262626;
    padding-left: 15px;
}

.subscribe .subscribe-content form input::-webkit-input-placeholder {
    opacity: 0.5;
    color: #262626;
    font-size: .75rem;
    font-weight: 300;
}

.subscribe .subscribe-content form input::-moz-placeholder {
    opacity: 0.5;
    color: #262626;
    font-size: .75rem;
    font-weight: 300;
}

.subscribe .subscribe-content form input:-ms-input-placeholder {
    opacity: 0.5;
    color: #262626;
    font-size: .75rem;
    font-weight: 300;
}

.subscribe .subscribe-content form input::-ms-input-placeholder {
    opacity: 0.5;
    color: #262626;
    font-size: .75rem;
    font-weight: 300;
}

.subscribe .subscribe-content form input::placeholder {
    opacity: 0.5;
    color: #262626;
    font-size: .75rem;
    font-weight: 300;
}

.subscribe .subscribe-content form button {
    border: none;
    width: 200px;
    height: 55px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    width: 170px;
    color: #ffffff;
    margin-left: 30px;
}

.subscribe .subscribe-content form button a {
    color: #fff;
}

.blog {
    width: 100%;
    height: 864px;
    background-color: #b07cf7;
}

.blog .blog-content {
    margin: 0 auto;
    max-width: 570px;
    width: 90%;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 44px;
}

.blog .blog-content h1 {
    color: #ffffff;
    font-size: 5.625rem;
    font-weight: 700;
    line-height: .75;
    padding-bottom: 42px;
}

.blog .blog-content p {
    color: #ffffff;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.47;
}

.blog .blog-examples {
    max-width: 1170px;
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 310px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.blog .blog-examples .blog-example1 {
    background-image: url("../img/blog-bg1.png");
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blog .blog-examples .blog-example2 {
    background-image: url("../img/blog-bg2.png");
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blog .blog-examples .blog-example3 {
    background-image: url("../img/blog-bg3.png");
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blog .blog-examples .blog-calendar {
    margin: 30px 0 0 30px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #262626;
    opacity: 0.5;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.blog .blog-examples .blog-calendar span {
    line-height: 15px;
    font-size: 1.3125rem;
    font-weight: 900;
    text-transform: uppercase;
}

.blog .blog-examples h2 {
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 115px 0 17px 20px;
}

.blog .blog-examples p {
    font-size: 0.8125rem;
    font-weight: 300;
    padding-left: 20px;
}

.blog .blog-examples a {
    color: #ffffff;
    text-decoration: none;
}

.blog .more-button {
    margin: 50px auto 0 auto;
    width: 200px;
    height: 55px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #f72b3b;
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
}

.blog .more-button a {
    color: #fff;
}

.contact {
    width: 100%;
    height: 866px;
    background-color: #6ea9ce;
    background-image: url("../img/contact-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .contact-text {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 42px;
    text-align: center;
}

.contact .contact-text h1 {
    color: #262626;
    font-size: 5.625rem;
    font-weight: 700;
    line-height: .75;
    padding-bottom: 42px;
}

.contact .contact-text p {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.contact .contact-form {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact .contact-form form {
    max-width: 500px;
    width: 100%;
}

.contact .contact-form form p {
    max-width: 500px;
    width: 100%;
    height: 50px;
    background-color: #00c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 5px solid #355b82;
    font-size: .75rem;
    font-weight: 700;
    line-height: 50px;
    padding-left: 15px;
    color: #ffffff;
    margin-bottom: 15px;
}

.contact .contact-form form input {
    max-width: 500px;
    width: 100%;
    height: 50px;
    background-color: #00c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 20px;
    opacity: 0.5;
    border: none;
}

.contact .contact-form form input::-webkit-input-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form input::-moz-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form input:-ms-input-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form input::-ms-input-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form input::placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form textarea {
    max-width: 500px;
    width: 100%;
    height: 250px;
    background-color: #00c4c4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px 0 0 20px;
    opacity: 0.5;
    border: none;
}

.contact .contact-form form textarea::-webkit-input-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form textarea::-moz-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form textarea:-ms-input-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form textarea::-ms-input-placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form form textarea::placeholder {
    font-size: .75rem;
    font-weight: 300;
    color: #ffffff;
}

.contact .contact-form .contact-info {
    max-width: 320px;
    width: 100%;
    padding-left: 30px;
    padding-right: 180px;
}

.contact .contact-form .contact-info h2 {
    font-size: 17px;
    font-weight: 700;
    line-height: 0.75;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.contact .contact-form .contact-info p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #262626;
}

footer ul {
    max-width: 1172px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    color: #b9b9b9;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 90px;
}

footer ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

footer ul li span {
    color: #ff2b58;
    font-weight: 700;
}

footer ul .footer-logo {
    font-family: "Pacifico", cursive;
    font-size: 25px;
    font-weight: 400;
}

body {
    font-family: "Raleway", sans-serif;
    color: #262626;
}

@media screen and (max-width: 1200px) {
    .contact .contact-form .contact-info {
        padding-right: 0;
    }

    header .header-content nav ul {
        width: 500px;
    }

    .about-us .about-us-container {
        width: 90%;
    }

    .services .services-container {
        width: 90%;
    }

    .services .services-container .services-list ul {
        margin-left: 50px;
    }

    .subscribe .subscribe-content {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    header .header-content nav ul {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 200px;
    }

    header .header-content nav ul li {
        font-size: 20px;
        line-height: 40px;
        border-top: none;
    }

    header .header-content nav ul li a:hover {
        text-decoration: underline;
        -webkit-text-decoration-color: #ff6033;
        text-decoration-color: #ff6033;
    }

    header .header-content nav ul li:hover {
        border-top: none;
    }

    header .header-content nav label {
        display: block;
        position: absolute;
        right: 0;
    }

    header .header-content nav #nav-trigger:checked ~ ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header .header-content .header-text {
        width: 100%;
        margin: 0 auto;
    }

    .about-us .about-us-container .about-us-content {
        padding-top: 80px;
    }

    .services .services-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .services .services-container .services-list {
        width: 100%;
        padding-bottom: 80px;
    }

    .services .services-container .services-list ul {
        margin: 50px auto 0 auto;
    }

    .services .services-container .services-list ul li {
        margin: 0 auto 20px auto;
    }

    .services .services-container .services-header {
        width: 100%;
        background-image: none;
    }

    .services .services-container .services-header h1 {
        margin-top: 80px;
        margin-left: 0;
        text-align: center;
    }

    .gallery {
        height: 1300px;
    }

    .gallery .gallery-images {
        grid-template-rows: 208px 208px 320px;
    }

    .subscribe .subscribe-content form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .subscribe .subscribe-content form button {
        margin: 30px 0 0 0;
    }

    .blog .blog-examples {
        grid-gap: 10px;
    }

    .blog .blog-examples h2 {
        line-height: 1;
    }

    .contact .contact-text {
        padding-top: 30px;
    }

    .contact .contact-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact .contact-form form {
        margin: 0 auto;
    }

    .contact .contact-info {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header .header-content .header-text .more-button {
        margin: 0 auto;
    }

    header .header-content .header-text h1 {
        text-align: center;
    }

    .about-us .about-us-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .about-us .about-us-container .about-us-photo {
        height: 400px;
        width: 90%;
        margin-top: 0;
        background-size: auto 100%;
        background-position: center;
    }

    .about-us .about-us-container .about-us-content {
        padding-top: 80px;
        width: 90%;
        margin: 0 auto;
    }

    .about-us .about-us-container .about-us-content h1 {
        text-align: center;
    }

    .gallery {
        height: 1536px;
    }

    .gallery .gallery-images {
        grid-template-rows: 400px 260px 260px;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery .gallery-images .gallery-img1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .gallery .gallery-images .gallery-img2,
      .gallery .gallery-images .gallery-img4 {
        grid-column: 1 / span 1;
    }

    .gallery .gallery-images .gallery-img3,
      .gallery .gallery-images .gallery-img5 {
        grid-column: 2 / span 1;
    }

    .blog {
        height: 1400px;
    }

    .blog .blog-content {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .blog .blog-examples {
        grid-template-rows: repeat(3, 310px);
        grid-template-columns: 1fr;
        grid-gap: 30px;
        max-width: 310px;
    }

    footer ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    footer ul li:not([class="footer-logo"]) {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    header .header-content nav ul {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 550px;
        width: 100%;
        margin-top: 70px;
        position: absolute;
    }

    header .header-content nav ul li {
        text-align: center;
        font-size: 40px;
        line-height: 80px;
        font-weight: 900;
        background-color: rgba(38, 38, 38, 0.9);
        margin-top: 10px;
    }

    header .header-content nav ul li a {
        display: block;
        width: 100%;
        color: #ffffff;
    }

    header .header-content nav ul li a:hover {
        text-decoration: none;
    }

    header .header-content .header-text {
        padding-top: 250px;
    }

    .about-us .about-us-container .about-us-content h1 {
        font-size: 3rem;
    }

    .services .services-container .services-list ul li span {
        border: none;
    }

    .services .services-container .services-header h1 {
        font-size: 3rem;
    }

    .gallery .gallery-text {
        padding-top: 50px;
    }

    .gallery .gallery-text h1 {
        font-size: 3rem;
    }

    .gallery .gallery-images {
        grid-template-rows: repeat(5, 185px);
        grid-template-columns: 1fr;
    }

    .gallery .gallery-images .gallery-img1,
    .gallery .gallery-images .gallery-img2,
    .gallery .gallery-images .gallery-img3,
    .gallery .gallery-images .gallery-img4,
    .gallery .gallery-images .gallery-img5 {
        grid-column: 1 / span 1;
    }

    .subscribe .subscribe-content h1 {
        font-size: 1rem;
        padding-top: 42px;
    }

    .blog {
        height: 1500px;
    }

    .contact .contact-text h1 {
        font-size: 3rem;
    }

    .contact .contact-form .contact-info {
        padding-left: 0;
    }
}
