@import 'reset';
@import 'variables-extends-mixins';
@import 'header';
@import 'about-us';
@import 'services';
@import 'gallery';


body {
    background-color: rgb(105, 131, 131);
    font-family: $font-general;
    color: $text-color-dark;
}